/* BOTON WHATSAPP */

.wpp-fixed{
    position: fixed;
    bottom: 10px;
    right: 25px;
    width: 55px;
    height: 55px;
    background-color: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    z-index: 1000 ;
    text-decoration: none;
}

.wpp-fixed img{
    width: 28px;
    height: 28px;
}