@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

/* contenedores reutilizables */

.contenedor, .contenedor-header, .contenedor-hero, .contenedor_footer {
    @include contenedor;
}
