/* LIGHTBOX */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #fff;
}

.lightbox:target {
    display: flex;
}

.lightbox .cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}