@use "./variables" as *;

@mixin contenedor {
    width: 90%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

@mixin grid-3($gap) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}