/* MODAL PERSONALIZADO */
.modal-consulta .modal-content {
    background-color: #ffffff;
    color:#000000;
}

.modal-consulta .modal-header{
    border-bottom: 1px solid #ddd;
}

.modal-consulta .modal-footer {
    border-top: 1px solid #ddd;
}