@use "../utilities/variables" as *;


/*  RESET Y BASE (box model) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-bg;
    color: $color-texto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}